.pos .order .summary .loyalty-points{
    margin-left: 20px;
    float: left;
    padding: 10px;
    max-width: 216px;
    text-align: left;
    color: #6EC89B;
    background: rgba(110, 200, 155, 0.17);
    border-radius: 3px;
}
.pos .order .summary .loyalty-points.negative{
    color: #C86E6E;
    background: rgba(200, 110, 110, 0.17);
}
.pos .order .summary .loyalty-points-total {
    border-top: solid 2px;
    text-align: center;
    padding-top: 4px;
    margin-top: 4px;
}
.pos .popup.popup-selection .selection {
    overflow-y: auto;
    max-height: 273px;
    font-size: 16px;
    width: auto;
    line-height: 50px;
    margin-top: -1px;
    border-top: solid 3px #6EC89B;

}
.pos .popup.popup-selection .selection-item {
    width: auto;
    background: rgb(230,230,230);
    cursor: pointer;
    text-align: left;
    padding: 0px 16px;
}
.pos .popup.popup-selection .selection-item:nth-child(even) {
    background: rgb(247,247,247);
}
